## Lists 
- these are the ordered, mutable collections of items.
- they can contain items of diffrent data types.

In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
names=["ram","jack",1,3,2]
print(names)

['ram', 'jack', 1, 3, 2]

In [3]:
## accessing list elements

fruits=["apples","banana","cherry","kiwi","gauva"]

In [16]:
print(fruits[2])
print(fruits[-1])

print(fruits[1:])
print(fruits[1:3])

print(fruits[-1:-3])
print(fruits[2:-1])

cherry
gauva
['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']
[]
['cherry', 'kiwi']

In [17]:
## modifying the list elements

fruits

['apples', 'banana', 'cherry', 'kiwi', 'gauva']

In [19]:
fruits[1]="watermelon"
fruits

['apples', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [20]:
fruits[1:]="watermelon"
fruits

['apples', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [40]:
fruits=["apples","banana","cherry","kiwi","gauva"]

In [41]:
## list methods

## append()
fruits.append("orange")
fruits

['apples', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [42]:
fruits.insert(1,"watermelon")
fruits

['apples', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [43]:
## remove will dlt the first occurance of the item

fruits.remove("banana")
fruits

['apples', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [44]:
## remove and return the last

poped=fruits.pop()
print(fruits)
print(poped)

['apples', 'watermelon', 'cherry', 'kiwi', 'gauva']
orange

In [ ]:
## Index

index= fruits.index("cherry")
print(index)

2

In [47]:
## count 

fruits.insert(2,"banana")
print(fruits.count("banana"))

2

In [49]:
## sort

fruits.sort()
fruits

['apples', 'banana', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [ ]:
#reverse

fruits.reverse()
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'banana', 'apples']

In [ ]:
## clear

fruits.clear()
fruits

[]

### Slicing

In [ ]:
## Slicing list

num=[1,2,3,4,5,6,7,8,9,10]

print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2]) ## step size
print(num[::-1]) ## step size from last

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [2]:
## Itering over list

for n in num:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [4]:
## Itering with index

for index,number in enumerate(num):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [9]:
## List Comprehension
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)


lst1=[x**2 for x in range(10)]
print(lst1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### List comprehension

Basics syntax 
- [expression for item in iterable]

with conditional logic 
- [expression for item in iterable if condition]

Nested List Compresion
- [expression for item1 in iterable1 for item2 in iterable2]

In [11]:
## even num

list = [x for x in range(10) if x%2==0]
print(list)

[0, 2, 4, 6, 8]

In [12]:
## Nested list comprehension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]

In [13]:
## list Comprehension with function calls

words = {"hello","world","python","list","comprehension"}
lengths = [len(word) for word in words ]
lengths

[5, 4, 5, 6, 13]