### Sets

Sets are a built-in data type in python used to store collections of unique items.
##### They are unordered, meaning that the elements do not follow a specific order, and they so not allow duplicate elements.
Sets are useful for membership tests,elimination duplicte entries, and performing mathematical set operations like union,intersection,diffrence,and symmetric diffrence.

In [1]:
## create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
my_empty_set=set([1,2,3,4,5])
print(type(my_empty_set))
print(my_empty_set)

<class 'set'>
{1, 2, 3, 4, 5}

In [19]:
## dupliacte removal

my_set=set([1,2,2,3,4,3,4,5])
print(my_set)

{1, 2, 3, 4, 5}

In [20]:
## Basics set operations
## adding and removing elements

my_set.add(9)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 9}
{1, 2, 3, 4, 5, 7, 9}

In [21]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7, 9}

In [22]:
my_set.remove(10)
print(my_set)

KeyError: 10

In [23]:
my_set.discard(10)
print(my_set)

{1, 2, 4, 5, 7, 9}

In [24]:
## POP method

removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 7, 9}

In [25]:
## clear

my_set.clear()
print(my_set)

set()

In [27]:
## Set membership test
my_set={1,2,3,4,5,6}
print(3 in my_set)

True

In [35]:
## mathematical operations

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

### Union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

## _update()
set1.intersection_update(set2)
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
{4, 5, 6, 7, 8, 9}

In [38]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
## diffrence
print(set1.difference(set2))

{1, 2, 3}

In [39]:
set2.difference(set1)

{7, 8, 9}

In [40]:
## symmetric diffrence

set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [44]:
## sets methods
set1={1,2,3}
set2={3,4,5}

##is subset
print(set1.issubset(set2))

## is superset
print(set1.issuperset(set2))

set1={1,2,3,4,5}
set2={3,4,5}

##is subset
print(set2.issubset(set1))

## is superset
print(set1.issuperset(set2))

False
False
True
True

In [45]:
lt=[1,2,2,4,3,5,3]

set(lt)

{1, 2, 3, 4, 5}

In [76]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

print(set(words))
print(len(set(words)))

{'are', 'In', 'about', 'sets', 'discussing', 'this', 'tutorial', 'we'}
8

In [81]:
text="In this tutorial we are discussing about sets"
lt=[x for x in text]
uq=set(lt)
counts=[(y,lt.count(y)) for y in uq]
print(counts)

[('r', 2), (' ', 7), ('o', 2), ('l', 1), ('n', 2), ('g', 1), ('u', 3), ('t', 5), ('e', 3), ('I', 1), ('h', 1), ('i', 4), ('b', 1), ('c', 1), ('s', 6), ('a', 3), ('w', 1), ('d', 1)]